DiabeticPrediction.json
[{"id":"569986ae.3d8d88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b5c5ebc4.bc2b38","type":"ui_form","z":"569986ae.3d8d88","name":"","label":"","group":"4271aeb0.35a59","order":1,"width":0,"height":0,"options":[{"label":"preg","value":"p","type":"number","required":true,"rows":null},{"label":" plas","value":"pl","type":"number","required":true,"rows":null},{"label":"pres","value":"pr","type":"number","required":true,"rows":null},{"label":"Skin ","value":"s","type":"number","required":true,"rows":null},{"label":"test","value":"t","type":"number","required":true,"rows":null},{"label":"mass","value":"m","type":"number","required":true,"rows":null},{"label":"pedi","value":"pe","type":"number","required":true,"rows":null},{"label":"age","value":"a","type":"number","required":true,"rows":null}],"formValue":{"p":"","pl":"","pr":"","s":"","t":"","m":"","pe":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["6b002f97.27048","89e95eae.d001a"]]},{"id":"6b002f97.27048","type":"debug","z":"569986ae.3d8d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":360,"wires":[]},{"id":"89e95eae.d001a","type":"function","z":"569986ae.3d8d88","name":"pre-token","func":"global.set(\"p\",msg.payload.p)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"pr\",msg.payload.pr)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"t\",msg.payload.t)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"a\",msg.payload.a)\nvar apikey=\"pDpLBcyaKfGmpgesoh5qy7mFk4PjuIc2nkTsDl5hRRff\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":220,"wires":[["1794c7eb.e3fa38"]]},{"id":"1794c7eb.e3fa38","type":"http request","z":"569986ae.3d8d88","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":412.00000381469727,"y":264.00000286102295,"wires":[["2abbe36a.61ae3c","8562b371.15b02"]]},{"id":"2abbe36a.61ae3c","type":"debug","z":"569986ae.3d8d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":320,"wires":[]},{"id":"8562b371.15b02","type":"function","z":"569986ae.3d8d88","name":"Pre Prediction","func":"var p = global.get(\"p\")\nvar pl = global.get(\"pl\")\nvar pr = global.get(\"pr\")\nvar s = global.get(\"s\")\nvar t = global.get(\"t\")\nvar m = global.get(\"m\")\nvar pe = global.get(\"pe\")\nvar a = global.get(\"a\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"preg\", \" plas\", \"pres\", \"Skin\", \"test\", \"mass\",\"pedi\", \"age\" ]],\"values\": [[p,pl,pr,s,t,m,p,a]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.0000076293945,"y":216.0000021457672,"wires":[["d74ed8f1.586f68"]]},{"id":"d74ed8f1.586f68","type":"http request","z":"569986ae.3d8d88","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/5d4e0ea7-8dfa-4c76-8ecc-9b6fa5cf6b7e/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":240,"wires":[["e14aa766.ec80d8","647996b1.634048"]]},{"id":"e14aa766.ec80d8","type":"debug","z":"569986ae.3d8d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":982.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"d64ca1c0.bb3e3","type":"inject","z":"569986ae.3d8d88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["89e95eae.d001a"]]},{"id":"f7ad6900.935908","type":"debug","z":"569986ae.3d8d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":813.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"647996b1.634048","type":"function","z":"569986ae.3d8d88","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659.6000595092773,"y":148.00000190734863,"wires":[["f7ad6900.935908","5e660b9c.0715a4"]]},{"id":"5e660b9c.0715a4","type":"ui_text","z":"569986ae.3d8d88","group":"4271aeb0.35a59","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"4271aeb0.35a59","type":"ui_group","z":"","name":"Diabetes Prediction","tab":"530f5a90.d0f5b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"530f5a90.d0f5b4","type":"ui_tab","z":"","name":"sensor data","icon":"dashboard","disabled":false,"hidden":false}]