IBM cloud.json
[{"id":"bf3fd498.cae758","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"7afe6b99.243be4","type":"ibmiot in","z":"bf3fd498.cae758","authentication":"apiKey","apiKey":"6c2ccfa3.926c8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1357","applicationId":"","deviceType":"DiaPred","eventType":"Sensor","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":170,"y":100,"wires":[["a36737d2.0cac38","9ad293eb.cb3a1","46670d5f.cc1894","e2ec7ac4.74f5a8","7aa8323e.0ea5ec","72248cc0.e091a4","715f3ef4.35a96","ce9aef9b.f41d2","14f9a557.635e2b"]]},{"id":"a36737d2.0cac38","type":"debug","z":"bf3fd498.cae758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":100,"wires":[]},{"id":"9ad293eb.cb3a1","type":"function","z":"bf3fd498.cae758","name":"pre-token","func":"global.set(\"p\",msg.payload.p)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"pr\",msg.payload.pr)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"t\",msg.payload.t)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"a\",msg.payload.a)\nvar apikey=\"pDpLBcyaKfGmpgesoh5qy7mFk4PjuIc2nkTsDl5hRRff\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":20,"wires":[["1a9599f8.719326"]]},{"id":"1a9599f8.719326","type":"http request","z":"bf3fd498.cae758","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":200,"wires":[["24a2a54a.a73c3a","aa062728.b802d8"]]},{"id":"24a2a54a.a73c3a","type":"debug","z":"bf3fd498.cae758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":300,"wires":[]},{"id":"aa062728.b802d8","type":"function","z":"bf3fd498.cae758","name":"Pre Prediction","func":"var p = global.get(\"p\")\nvar pl = global.get(\"pl\")\nvar pr = global.get(\"pr\")\nvar s = global.get(\"s\")\nvar t = global.get(\"t\")\nvar m = global.get(\"m\")\nvar pe = global.get(\"pe\")\nvar a = global.get(\"a\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"preg\", \" plas\", \"pres\", \"Skin\", \"test\", \"mass\",\"pedi\", \"age\" ]],\"values\": [[p,pl,pr,s,t,m,p,a]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":140,"wires":[["1e6610a7.cb80ef"]]},{"id":"a3836c5a.abcf1","type":"function","z":"bf3fd498.cae758","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":60,"wires":[["ee91a9ce.3b3af8","9715d70b.a52448"]]},{"id":"ee91a9ce.3b3af8","type":"debug","z":"bf3fd498.cae758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":80,"wires":[]},{"id":"1e6610a7.cb80ef","type":"http request","z":"bf3fd498.cae758","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/5d4e0ea7-8dfa-4c76-8ecc-9b6fa5cf6b7e/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":200,"wires":[["cedd3f9.2737fc","a3836c5a.abcf1"]]},{"id":"cedd3f9.2737fc","type":"debug","z":"bf3fd498.cae758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":340,"wires":[]},{"id":"9715d70b.a52448","type":"ui_text","z":"bf3fd498.cae758","group":"4271aeb0.35a59","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":20,"wires":[]},{"id":"46670d5f.cc1894","type":"ui_gauge","z":"bf3fd498.cae758","name":"","group":"15fb44a3.aeddcb","order":3,"width":0,"height":0,"gtype":"gage","title":"pregnancies","label":"units","format":"{{message.payload.p}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":280,"wires":[]},{"id":"e2ec7ac4.74f5a8","type":"ui_gauge","z":"bf3fd498.cae758","name":"","group":"15fb44a3.aeddcb","order":5,"width":0,"height":0,"gtype":"gage","title":"Glucose","label":"units","format":"{{msg.payload.p1}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":340,"wires":[]},{"id":"7aa8323e.0ea5ec","type":"ui_gauge","z":"bf3fd498.cae758","name":"","group":"15fb44a3.aeddcb","order":2,"width":0,"height":0,"gtype":"gage","title":"Blood Pressure","label":"units","format":"{{msg.payload.pr}}","min":0,"max":"120","colors":["#00b500","#17edfd","#ca3838"],"seg1":"","seg2":"","x":480,"y":400,"wires":[]},{"id":"72248cc0.e091a4","type":"ui_gauge","z":"bf3fd498.cae758","name":"","group":"4271aeb0.35a59","order":3,"width":0,"height":0,"gtype":"gage","title":"Skin Thickness","label":"units","format":"{{msg.payload.s}}","min":0,"max":"99","colors":["#00b500","#e6e600","#cb3a74"],"seg1":"","seg2":"","x":480,"y":460,"wires":[]},{"id":"715f3ef4.35a96","type":"ui_gauge","z":"bf3fd498.cae758","name":"","group":"4271aeb0.35a59","order":4,"width":0,"height":0,"gtype":"gage","title":"BMI","label":"units","format":"{{msg.payload.m}}","min":0,"max":"67","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":520,"wires":[]},{"id":"ce9aef9b.f41d2","type":"ui_gauge","z":"bf3fd498.cae758","name":"","group":"99a13d44.9aeca","order":0,"width":0,"height":0,"gtype":"gage","title":"DiaPredFn","label":"units","format":"{{msg.payload.pe}}","min":"0.06","max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":560,"wires":[]},{"id":"14f9a557.635e2b","type":"ui_gauge","z":"bf3fd498.cae758","name":"","group":"99a13d44.9aeca","order":1,"width":0,"height":0,"gtype":"gage","title":"Age","label":"units","format":"{{msg.payload.a}}","min":"21","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":160,"wires":[]},{"id":"6c2ccfa3.926c8","type":"ibmiot","z":"","name":"API cred","keepalive":"60","serverName":"3ul5bb.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4271aeb0.35a59","type":"ui_group","z":"","name":"Diabetes Prediction","tab":"530f5a90.d0f5b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"15fb44a3.aeddcb","type":"ui_group","z":"","name":"Details","tab":"530f5a90.d0f5b4","order":2,"disp":true,"width":"6","collapse":false},{"id":"99a13d44.9aeca","type":"ui_group","z":"","name":"Details2","tab":"530f5a90.d0f5b4","order":3,"disp":true,"width":"6","collapse":false},{"id":"530f5a90.d0f5b4","type":"ui_tab","z":"","name":"sensor data","icon":"dashboard","disabled":false,"hidden":false}]